<html>
  <head>
    <title>{{projectName}}</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; word-wrap: break-word; }
    </style>
  </head>
  <body>
    <p>
      <a href="mailto:{{invitedByEmail}}">{{invitedByUsername}}</a> has invited you to join the <a href="{{orgBaseUrl}}">{{organizationName}}</a>
      organization on <a href="{{baseUrl}}">{{projectName}}</a>. Click the link below to join:
    </p>
    <a href="{{inviteLink}}">Join {{organizationName}}</a>
    <p>If you don't currently have an account on {{projectName}}, you can create one <a href="{{baseUrl}}/register">here</a>.</p>
  </body>
</html>
