<html>
  <head>
    <title>{{projectName}}</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; }
    </style>
  </head>
  <body>
    <p>
      Your roles in the {{organizationName}} organization on <a href="{{baseUrl}}">{{projectName}}</a> have been changed.
    </p>

    <p>Your new roles: {{roles}}.</p>

    {{#if canAccessModDashboard}}
      <p>You can now access the Moderator Dashboard from the navigation bar.</p>
    {{/if}}
  </body>
</html>
